*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
	top: 0;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	background: no-repeat center center #fff;
	overflow:scroll;
}

body {
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

* { font-family:Arial; }
h2 { padding:0 0 5px 5px; }
h2 a { color: #224f99; }
a { color:#999; text-decoration: none; }
a:hover { color:#802727; }
p { padding:0 0 5px 0; }


#wrapper{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background: #CCC;
}

#wrapper .controls{
  display: inline-block;	
  width: 100%;
  height: 30%;
}

#wrapper .clear {
  clear:both;
  height: 40px;
}
#wrapper .info{
  display: inline-block;
  float: left;
  width: 100%;
  margin: 20px 5%;  
  font-weight: bold;
  font-size: 25px;
  color: #012;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 15%;
  height: 25%;
  margin: 10px 40%;
}

.submit {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  width: 15%;
  height: 25%;
  margin: 10px 40%;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button, input {
	font-family: Arial, Helvetica, sans-serif;
}

div .mix1 {   /* div de mixitup en result.php */
	float: left;
	display: inline-block;
  margin: 20px 5px;
	width: 60px;
  height: 40px;
	padding: 1px;
}

div .mix {   /* div de mixitup en index.php */
  float: left;
  display: inline-block;
  margin: 30px 5px;
  width: 60px;
  height: 40px;
  padding: 1px;
  background-color: #CCC;
  border: none;
}

input {
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

input #integ {
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #CCC;  
}

input[type="text"]:disabled {
  background-color: #CCC;
}
input.disabled {
  background-color: #CCC;
}

span.form-error {
  color: red;
}
